<div class=" homecomp">
  <div class="infopart">
    <div class="titleetalk">Welcome to Health Tracker Application</div>
    <div class="infotalk">
      The Simple Health Tracker Application features an intuitive interface for users to log daily health activities, including water intake, step count, and sleep hours. With two routes to access information seamlessly, users can efficiently monitor their health progress and make informed decisions.
    </div>
  </div>
  <div class="imgpart">
    <img src="../../assets/create222.jpg" alt="">
  </div>
</div>
